<body class="top-fixed">
  <header class="ae-container-fluid ae-container-fluid--full rk-header ">
    <div class="ae-container-fluid rk-topbar">
      <h1 class="rk-logo"> <%= link_to "Rijksmuseum - De topstukken van de schilderijen", root_url %> </h1>
    </div>
    </header>
    <section class="ae-container-fluid rk-main">
      <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
        <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-3">
          
          <% @paintings.each do |painting| %>
            <%= link_to painting_path(painting), class: 'rk-item ae-masonry__item' do %>
              <%= image_tag painting.small_image["tiles"].first["url"] %>
              <div class="item-meta">
                <h2><%= painting.name %></h2>
                <p><%= painting.title %></p>
              </div>
            <% end %>
          <% end %>
        </div>
       <%= will_paginate @paintings %>
      </section>
    </section>  
</body>
 
 