<body class="top-fixed" style= "background-image: url(<%= @painting.small_image["tiles"].first["url"] %> ); background-size: cover ">
  <div class="ae-container-fluid2 ae-container-fluid--inner2 rk-main">
    <div class="ae-grid au-xs-ta-left au-mb-4">
      <div class="ae-grid__item item-lg-2 ae-kappa au-mb-1" style= "background-color: rgba(255,255,255,0.2); height:120px">
        <p class=" au-mb-3" style="text-align: center"><%= @painting.title %></p>
        <p class=" au-mb-3" style="text-align: center"><%= @painting.name %></p>
      </div>
      <div class="ae-grid__item item-lg-8 ae-kappa au-mb-6">
      </div>  
      <div class="ae-grid__item item-lg-2 ae-kappa au-mb-1" style = "background-color: white; border: 1px solid ">
        <h5 class="ae-u-bolder au-mt-2" style = "text-align: center">Details</h5>
        <p class="au-mb-3 au-pl-4 au-pr-4">
          Collectie        : <%= @painting.collectie %> </br>
          Datering         : <%= @painting.date %></br>
          Primaire kleuren : </br>
          <% @painting.colors.each  do |color|  %>
            <span class = "box" style = "background-color:  <%= color %>">  </span>
          <% end %>    
          </br></br>
          Omschrijving  : </br>
            <%= @painting.description %>
        </p>  
      </div>
    </div>
  </div>
</body>    