<!DOCTYPE html
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Proefopdracht - Roelof Wobben</title>
    
    <%= stylesheet_link_tag    'aurora-pack.css', 'aurora-theme-base.css', 'urku.css', 'pagination.css'  %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  
  <% flash.each do |key, message| %>
    <div><%= message %></div>
  <% end %>
  
  <%= yield %>
    
</html>
